*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: top;
}
#bg{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    mix-blend-mode: hue;
}